 <!DOCTYPE html>
<html>
 
<head>
		<meta charset="utf-8" />
		<title>{{.Title}}</title>
		<meta name="keywords" content="{{.KeyWords}}" />
		<meta name="description" content="{{.Description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="/static/addons/editor.md/css/editormd.min.css" rel="stylesheet" />
		<link href="/static/addons/ace/assets/css/bootstrap.min.css" rel="stylesheet" />
		
    <script src="/static/addons/ace/assets/js/jquery-2.0.3.min.js"></script>
   <script src="/static/addons/editor.md/lib/marked.min.js"></script>
 <script src="/static/addons/editor.md/editormd.min.js"></script>
</head>
  <body>

    <div class="container  "  >
	
	 
	
	  
	
	 <div id="preview"  >  </div> 
	
	
	 
	</div>
   
	
	
 
    <script>
       
            var testEditormdView 

            

            testEditormdView = editormd.markdownToHTML("preview", {
                markdown: '{{.ns.Info}}',//+ "\r\n" + $("#append-test").text(),
                    //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                    //toc             : false,
                    tocm: true,    // Using [TOCM]
                    //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                    //gfm             : false,
                    //tocDropdown     : true,
                    // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                    emoji: true,
                    taskList: true,
                    tex: true,  // 默认不解析
                    flowChart: true,  // 默认不解析
                    sequenceDiagram: true,  // 默认不解析
                }); 
       
    </script>
	
	 
	
	
  </body>
</html>