<div class="main-content">

	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">用户中心</a>
			</li>
			<li>公司管理</li>
			<li class="active">公司信息</li>
		</ul>
		<!-- .breadcrumb -->


	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
								公司信息维护
								<small>
									<i class="icon-double-angle-right"></i>
									公司的基本信息
								</small>
							</h1>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<form id="form_shop_edit" class="  form-horizontal">
                   <input type="hidden" id="Id" name="Id" value="{{.c.Id}}"/>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
							公司名称: </label>

						<div class="col-sm-9">
							<input type="text" id="Name" name="Name"
								value="{{.c.Name}}" placeholder="公司名称" class="col-xs-10 col-sm-5">
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                            公司地址:
                        </label>

                        <div class="col-sm-9">
                            <input type="text" id="Address" name="Address"
                                   value="{{.c.Address}}" placeholder="公司地址" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
					 <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                            公司域名:
                        </label>

                        <div class="col-sm-9">
                            <input type="text" id="Url" name="Url"
                                   value="{{.c.Url}}" placeholder="公司域名" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                            ICP备案:
                        </label>

                        <div class="col-sm-9">
                            <input type="text" id="Icp" name="Icp"
                                   value="{{.c.Icp}}" placeholder="ICP备案" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
						 <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                            网站模版:
                        </label>

                        <div class="col-sm-9">
                            <input type="text" id="Template" name="Template"
                                   value="{{.c.Template}}" placeholder="网站模版" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                            联系人:
                        </label>

                        <div class="col-sm-9">
                            <input type="text" id="Contact" name="Contact"
                                   value="{{.c.Contact}}" placeholder="联系人" class="col-xs-10 col-sm-5">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                            联系方式:
                        </label>

                        <div class="col-sm-9">
                            <input type="text" id="Phone" name="Phone"
                                   value="{{.c.Phone}}" placeholder="联系方式" class="col-xs-10 col-sm-5">
                        </div>
                    </div>


					<div class="clearfix  ">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button" onclick="shopEdit()">
								<i class="icon-ok bigger-110"></i> 保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i> 重置
							</button>
						</div>
					</div>



				</form>




			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->
</div>
<!-- /.main-content -->


</div>
<!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
	<i class="icon-double-angle-up icon-only bigger-110"></i>
</a>


</div>

<!--	页尾自定义-->
<script src="/static/addons/ace/assets/je/ex.js"></script>
<script type="text/javascript">
	$(function(){
			    
				SetSidebar("公司管理");
		        SetSidebar("公司信息");
		});
	
		
		function shopEdit(){
			
			var data =$("#form_shop_edit").serialize() ;
			 $.post('{{urlfor "CompanyController.Edit"}}',data,function(d){
					
				alert(d.Msg);
					
				}); 
		}
</script>

<style>
	.btn {
		border-width: 0px;
	}
</style>

<!--	页尾自定义结束-->