<!DOCTYPE  html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <meta name="keywords" content="{{.KeyWords}}" />
    <meta name="description" content="{{.Description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/addons/ace/assets/js/jquery-1.11.3.min.js"></script>

 

    <link href="/static/tpl/market/css/customer.css" rel="stylesheet" type="text/css" />
 
      <link rel="stylesheet" type="text/css" href="/static/tpl/market/css/increase-68.css" />
   <link rel="stylesheet" href="/static/tpl/market/css/68ecshop_commin.css" type="text/css" />
       <link href="/static/tpl/market/css/ghs_style.css" rel="stylesheet" type="text/css" />
 
    <link href="/static/tpl/market/css/ghs_category.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/tpl/market/js/jquery.json.js">
    </script>
 
    <script type="text/javascript" src="/static/tpl/market/js/utils.js"></script>
    <script type="text/javascript" src="/static/tpl/market/js/common.js"></script>
    <script type="text/javascript" src="/static/tpl/market/js/common.min.js"></script>
       <script type="text/javascript" src="/static/tpl/market/js/transport.js"></script>

    <script type="text/javascript" src="/static/tpl/market/js/data.js"></script>


    <script type="text/javascript" src="/static/tpl/market/js/TouchSlide.1.1.js"></script>

    <script type="text/javascript">window.pageConfig = { compatible: true }; </script>



</head>



<body style="cursor: auto;">
    {{template "tpl/market/share/_top_box.html" .}} 
  {{template "tpl/market/share/_top_header.html" .}} 
     


{{.LayoutContent}} 

 
 <div class="site-footer">
     <div class="wrapper">
         <div class="footer-info clearfix">
             <div class="info-text">
                 <p class="nav_bottom">
                     <a href="#">关于我们</a><em>|</em>
                     <a href="article.php?id=4">联系我们</a><em>|</em>
                     <a href="apply.php">商家入驻</a><em>|</em>
                     <a href="#">广告服务</a><em>|</em>
                     <a href="topic.php?topic_id=20">手机淘城</a><em style="display: none">|</em>
                     ICP备案证书号:<a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备14023976号</a>
                 </p>
                 <p>
                     <a href="javascript:;">© 2005-2015 四川金福鑫食品 版权所有，并保留所有权利。</a> <a href="javascript:;">经济开发区昆山路6号 </a>
                     <a href="javascript:;">Tel: 18284224622      </a>
                     <a href="javascript:;">E-mail: 250200813@qq.com      </a>
                 </p>
                 <p>
                     <a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=250200813&amp;Site=四川金福鑫食品&amp;Menu=yes" target="_blank">
                         <img src="http://wpa.qq.com/pa?p=1:250200813:4" height="16" border="0" alt="QQ">
                         250200813</a>
                 </p>
             </div>
         </div>
     </div>
 </div>





</body>
</html>
