 <div class="main_box main_box_style1">
            <div class="main_box_inner">
                <div class="main_box_inner_left">
                    <div id="nav_142" class="nav_box nav_box_menu">

                        <div class="nav_title"><span class="nav_sign">公司简介</span><span class="nav_more"></span></div>
                        <span class="nav-English">INTRODUCTION</span><div id="nav_menu_142" class="nav_menu">

                            <ul id="rootul_142">
							{{range .menu}}
							
							  {{if eq .ParentId 0 }}
                                <li id="sl677">
								<a href='{{urlfor "ComController.About" "id" .Id}}' class='sla677    {{if eq .Name $.info.Name }} current {{end}} '>{{.Name}}</a></li>
								{{end}}
                            {{end}}
                            </ul>
                        </div>
                    </div>
                   <!-- <script type="text/javascript">
                        shut_allsubnav("rootul_142");
                        expand_subnav("sl677", "0");
                    </script>-->
                </div>
				
                <div class="main_box_inner_right">
                    <!--<div class="current_location current_location_677">
                        <ul>
                            <li class="current_location_1">当前位置：<a href= />首页</a> &gt; <a href="/gsjj/">公司简介</a> &gt; <a href="/gsjj/gsjj">公司简介</a></li>
                            <li class="current_location_2">公司简介</li>
                        </ul>
                    </div>-->
                    <div class="sublanmu_box sublanmu_box_677">
                        <div class="sublanmu_content sublanmu_content_introduct">

                {{str2html .info.InfoHtml}}

                             


                        </div>


                    </div>
                </div>
         
		
		   </div>
            <div class="clear main_box_inner_bottom"></div>
        </div>