<div class="home-focus-layout">
    <ul id="fullScreenSlides" class="full-screen-slides">
        <li style="background-image: url(/upFiles/market/data/afficheimg/20151023hwzckr.jpg); display: list-item; z-index: 900; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
            <a href="#" target="_blank" title="">&nbsp;</a>
        </li>
        <li style="background-image: url(/upFiles/market/data/afficheimg/20151023hwzckr.jpg); display: none; z-index: 900; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
            <a href="#" target="_blank" title="">&nbsp;</a>
        </li>

        <li style="background-image: url(/upFiles/market/data/afficheimg/20151023hwzckr.jpg); display: none; z-index: 900; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
            <a href="#" target="_blank" title="">&nbsp;</a>
        </li>



    </ul>
    <ul class="full-screen-slides-pagination">
        <li class="current"><a href="javascript:void(0)">1</a></li>
        <li class=""><a href="javascript:void(0)">2</a></li>
        <li class=""><a href="javascript:void(0)">3</a></li>

    </ul>
    <div class="jfocus-trigeminy">
        <div class="tm-chaoshi-markets">
            <div class="markets">
                <p class="row2">

                    <a href="#" target="_blank" title="首页幻灯片-小图下1">
                        <img data-original="/upFiles/market/data/afficheimg/1435867771166487679.jpg" src="/upFiles/market/data/afficheimg/1435867771166487679.jpg" alt="首页幻灯片-小图下1" style="display: block;"></a>

                    <a href=" #" target="_blank" title="首页幻灯片-小图下2" class="row2_2">
                        <img data-original="/upFiles/market/data/afficheimg/1436575950994546347.jpg" src="/upFiles/market/data/afficheimg/1436575950994546347.jpg" alt="首页幻灯片-小图下2" style="display: block;"></a>

                    <a href="#" target="_blank" title="首页幻灯片-小图下3">
                        <img data-original="/upFiles/market/data/afficheimg/1436569689665871266.jpg" src="/upFiles/market/data/afficheimg/1436569689665871266.jpg" alt="首页幻灯片-小图下3" style="display: block;"></a>

                </p>
            </div>
        </div>
        <div class="pagination"></div>
        <div class="arrow pre" style="opacity: 0;"></div>
        <div class="arrow next" style="opacity: 0;"></div>
    </div>
    <div class="right-sidebar">
        <div class="order_type">
            <div class="title">四种方式下订单</div>
            <ul>
                <li>
                    <i>1</i>访问网站直接下订单
                </li>
                <li>
                    <i>2</i>直接拨打电话
      <p class="wei_shop">电话订购热线</p>
                    <p class="phone">0570-8798298</p>
                </li>
                <li>
                    <i>3</i>支持微商城下订单
      <div class="wei_shop">
          <p>
              <font style="color: #E31939">关注微信</font>
              <br>
              掌握优惠！
          </p>
          <img src="/static/tpl/market/images/shengji_ad/weixin.jpg" alt="扫描二维码，关注微商城">
      </div>
                </li>
                <li>
                    <i>4</i>支持手机APP下订单 
                </li>
            </ul>
        </div>
        <div class="proclamation">
            <ul class="tabs-nav">
                <li class="tabs-selected">
                    <h3>招商入驻</h3>
                </li>
                <li class="">
                    <h3>商城公告</h3>
                </li>
            </ul>
            <div class="tabs-panel">
                <a href="apply_index.php" title="申请商家入驻；已提交申请，可查看当前审核状态。" class="store-join-btn" target="_blank">&nbsp;</a>
                <a href="supplier" target="_blank" class="store-join-help">
                    <i class="icon-cog"></i>
                    登录商家管理中心
                </a>
            </div>

            <div class="tabs-panel tabs-hide">
                <ul class="mall-news">
                    <li><i></i><a target="_blank" href="article.php?id=112" title="淘城3721商城，赠送颐心谷门票活动结束">淘城3721商城，赠送颐心谷门票... </a></li>
                    <li><i></i><a target="_blank" href="article.php?id=111" title="淘城有礼，购物送颐心谷门票！">淘城有礼，购物送颐心谷门票！ </a></li>
                    <li><i></i><a target="_blank" href="article.php?id=110" title="淘城3721商城国庆节放假通知">淘城3721商城国庆节放假通知 </a></li>
                    <li><i></i><a target="_blank" href="article.php?id=109" title="淘城3721商城预祝大家七夕快乐幸福">淘城3721商城预祝大家七夕快乐... </a></li>
                    <li><i></i><a target="_blank" href="article.php?id=107" title="淘城3721商城端午节放假通知">淘城3721商城端午节放假通知 </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--
<div class="fp-brand-rec main-container" id="J_FpBrandRec">
			<a class="brand-title" href="#">热门店铺</a>
			<div class="brand-content clearfix">
				<div class="module">
					<div class="brand-first">
						
<a href="#" target="_blank"><img src="/upFiles/market/data/afficheimg/1435101266640338856.jpg" width="212" height="326" border="0"></a>
					</div>
				</div>
				<div id="J_indexstore">
                    <div class="brand-rec-slide" id="J_BrandRecSlide">
  <ul class="brand-rec-nav clearfix">
      <li class="selected" onclick="qiehuan(0)">热门店铺</li>
      
    </ul>
  <ul class="brand-rec-content clearfix">
    <li style="display: block;" class="brand-rec-pannel hidden">
      <div class="brand-wall-slide">
        <div class="brand-wall-content">
          <p style="position: absolute; z-index: 0; opacity: 1; display: block;" class="brand-wall-pannel clearfix"> 
             {{range .shops}}
             
            <a class="j_BrandItem brand-item item-row-0 item-col-0" href="#" target="_blank"> 
            	<img class="j_BrandLogo brand-logo" src="/{{.LogoImg}}" title="{{.Name}}"
                     alt="{{.Name}}" height="45" width="90" style="position: relative;"> 
            </a> 
             
            
             {{end}}
             
          </p>
        </div>
      </div>
    </li>
  </ul>
  <div><a class="brand-pool" href="#">店铺街<span class="store-iconfont"></span></a></div>
</div>
<script>
function qiehuan(num){
	Ajax.call('other.php?act=supplier_tag', 'id=' + num, qiehuanResponse, 'GET', 'JSON');
}
function qiehuanResponse(result){
	document.getElementById('J_indexstore').innerHTML = result.result;
		$(".brand-wall-content img").each(function(k,img){
		new JumpObj(img,10);
	});
}
</script></div>
				<div class="module">
					<div class="brand-today-b">
						
<a href="#" target="_blank">
    <img src="/upFiles/market/data/afficheimg/1437604763889369397.jpg" width="212" height="326" border="0"></a>
					</div>
				</div>
			</div>
		</div>-->


{{range $i,$f :=.fs}}
<div class="w ">
    <img  src="/upFiles/market/banner/{{$f.FirstCategory.DisplayOrder}}.jpg"  /> 
</div>

<div class="w floor">
    <div class="floor02 clearfix">
        <div id="f0" class="home-standard-layout tm-chaoshi-floorlayout style-one">
            <div class="m-floor">
                <div class="header left_floor">
                    <h2>
                        <span>{{$f.FirstCategory.DisplayOrder}}F
                        </span>
                        <a href="#" target="_blank">{{$f.FirstCategory.Name}}</a>
                    </h2>
                    <div class="recommend">
                        <div class="words">
                            {{range $i2,$f2:=$f.TwoCategory}}	 

                            <a><b>{{$f2.Name}}</b>  </a>

                            {{end}}
							 
                        </div>
                        <a href="#" target="_blank" class="banner">
                            <img data-original="/upFiles/market/data/afficheimg/1422210251987971635.jpg"
                                src="/upFiles/market/data/afficheimg/1422210251987971635.jpg" height="297" width="240">
                        </a>
                    </div>
                </div>
                <div class="content mid_floor">
                    <div class="goods">
                        <div class="middle-layout">
                            <ul class="tabs-nav">
                                <!-- <li class="tabs-selected">
									<h3>精挑细选</h3>
								</li>
							 <li class="">
									<h3>新鲜水果</h3>
								</li>
																<li class="">
									<h3>熟食腊味</h3>
								</li>
																<li class="">
									<h3>肉禽蛋品</h3>
								</li>-->
                            </ul>
                            <div class="tabs-panel">
                                {{range $i,$p:=$f.Products}}
							 	<div class="j_ItemInfo">
                                     <div class="wrap">
                                         <a target="_blank" href='{{urlfor "MkController.Product" "pId" $p.Id}}' title="{{$p.Name}}">
                                             <img data-original="/{{$p.MinImg}}"
                                                 src="/{{$p.MinImg}}" alt="{{$p.Name}}" height="160"
                                                 width="160" class="pic_img_3726" style="display: block;">
                                         </a>
                                         <p class="title">
                                             <a target="_blank" href='{{urlfor "MkController.Product" "pId" $p.Id}}'
                                                 title="{{$p.Name}}">{{$p.Name}}</a>
                                         </p>
                                         <p class="o-price">￥{{ $p.OriPrice|fp}}</p>
                                         <p class="price">
                                             <span class="j_CurPrice">￥{{$p.Price|fp}}	
                                                 
                                             </span>
                                             <span class="j_CurRed">

                                                 <span class="j_Red"></span>

                                                 {{$p|fr}} 
                                             </span>
                                         </p>
                                         <!--<a class="j_AddCart" onclick="addToCart({{$p.Id}})" title="加入购物车"></a>-->
                                         <i class="product-mask"></i>
                                     </div>
                                 </div> 
                                {{end}} 
                            </div> 
                            
                        </div>
                    </div>
                </div>
                <div class="promo">
                    <a href="#" class="j_ItemInfo">
                        <img data-original="data/afficheimg/1436738390617961814.jpg"
                            src="/upFiles/market/data/afficheimg/1436738390617961814.jpg" alt="" height="278" width="150" style="display: inline;">
                    </a>
                    <a href="#" class="j_ItemInfo">
                        <img data-original="data/afficheimg/1444603392820087990.jpg"
                            src="/upFiles/market/data/afficheimg/1444603392820087990.jpg" alt="" height="279" width="150">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="blank5"></div>
{{end}}
<script>
    $(function () {
        //首页Tab标签卡滑门切换
        $(".tabs-nav > li > h3").bind('mouseover', (function (e) {
            if (e.target == this) {
                var tabs = $(this).parent().parent().children("li");
                var panels = $(this).parent().parent().parent().children(".tabs-panel");
                var index = $.inArray(this, $(this).parent().parent().find("h3"));
                if (panels.eq(index)[0]) {
                    tabs.removeClass("tabs-selected").eq(index).addClass("tabs-selected");
                    panels.addClass("tabs-hide").eq(index).removeClass("tabs-hide");
                }
            }
        }));


    });

</script>

<style type="text/css">
    .j_CurRed {
        float: right;
    }

        .j_CurRed span {
            font-size: 10px;
        }






    .j_Red {
        display: block;
        background-image: url('/static/tpl/market/images/red/red15.png');
        background-repeat: no-repeat;
        width: 15px;
        float: left;
        height: 15px;
    }
</style>
